{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mt-header">
	<div class="row" role="tablist">
		<div class="col-lg-3 d-flex flex-column nav nav-pills">
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_orange SelfStorage_tab active" id="LK-tab" data-bs-toggle="pill" data-bs-target="#LK" type="button" role="tab" aria-controls="LK" aria-selected="true">Личный кабинет</button>
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" id="Rent-tab" data-bs-toggle="pill" data-bs-target="#Rent" type="button" role="tab" aria-controls="Rent" aria-selected="false">Моя аренда</button>
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" id="History-tab" data-bs-toggle="pill" data-bs-target="#History" type="button" role="tab" aria-controls="History" aria-selected="false">История</button>
			<a href="/logout/" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">Выйти</a>
		</div>
		<div class="col-lg-9">
			<div class="card tab-content p-5">
				<div class="tab-pane fade show active" id="LK" role="tabpanel" aria-labelledby="LK-tab">
					<div class="row">
						<div class="col-12 col-sm-5 d-flex flex-column align-items-center">
							<img src="{% static 'img/image10.png' %}" class="rounded-pill mb-3" alt="">
							<h4>{{ user.client.full_name }}</h4>
						</div>
						<div class="col-12 col-sm-7 d-flex flex-column">
							<form id="profileInfoForm">
							{% csrf_token %}
								<label class="fs_24 SelfStorage_green ms-2" for="EMAIL">E-mail</label>
								<input type="email" required name="EMAIL_EDIT" id="EMAIL" class="form-control fs_24 ps-2 SelfStorage__input" value="{{ user.email }}" disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="PHONE">Телефон</label>
								<input type="tel" required name="PHONE_EDIT" id="PHONE" class="form-control fs_24 ps-2 SelfStorage__input" value="{{ user.client.phone_number }}" disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="PASSWORD">Пароль</label>
								<input type="password" required name="PASSWORD_EDIT" id="PASSWORD" class="form-control fs_24 ps-2 SelfStorage__input" value="111111111" disabled>
								<br>
								<div class="alert alert-danger" role="alert"></div>
								<button type="submit" class="btn SelfStorage_green ps-1" id="acc_page_save" style="display: none">Сохранить</button>
								<a class="btn SelfStorage_orange ps-1" id="acc_page_edit">Редактировать</a>
							</form>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="Rent" role="tabpanel" aria-labelledby="Rent-tab">
					<h1 class="fw-bold SelfStorage_green mb-5">Добрый день, {{ user.client.full_name }}!</h1>
					{% if current_orders %}
						{% for curr_order in current_orders %}
							{% if curr_order.days_to_expire > 0 and curr_order.days_to_expire < 30 %}
								<h4 class="SelfStorage_grey my-3">Срок Вашей аренды подходит к концу :(<br>Вы можете продлить аренду или забрать вещи до {{ curr_order.order.expiration|date:"j F Y" }} года включительно.</h4>
							{% endif %}
							{% if curr_order.days_to_expire < 0 %}
								<h4 class="SelfStorage_grey my-3">Срок Вашей аренды истек :(<br>Вещи будут храниться до {{ curr_order.days_to_add_expire|date:"j F Y" }} года включительно по повышенному тарифу, после чего в случае, если вы их так и не заберете – вы их потеряете.</h4>
							{% endif %}
							<div class="mb-5">
								<h4 class="SelfStorage_green">Мой склад №{{ forloop.counter }}</h4>
								<h4>{{ curr_order.order.box.storage.address }}</h4>
								<h4 class="SelfStorage_green">Мой бокс</h4>
								<h4>{{ curr_order.order.box.number }}</h4>
								<h4 class="SelfStorage_green">Срок аренды</h4>
								<h4>{{ curr_order.order.date|date:"d.m.Y" }} - {{ curr_order.order.expiration|date:"d.m.Y" }}</h4>
								<div><button id="rentExtButton" class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3" data-box-number="{{ curr_order.order.box.number }}" data-order-id="{{ curr_order.order.id }}">Продлить аренду</button></div>
								<div><button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">Открыть бокс</button></div>
								<a href="#" class="SelfStorage_orange">Нужна помощь?</a>
							</div>
						{% endfor %}
					{% else %}
						<h4 class="SelfStorage_grey my-5">У вас еще нет аренды :(<br>Но вы можете арендовать свой первый бокс по привлекательной цене прямо сейчас</h4>
						<div><a href="/boxes/" class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">Арендовать бокс</a></div>
						<a href="#" class="SelfStorage_orange">Нужна помощь?</a>
					{% endif %}
				</div>
					<div class="tab-pane fade" id="History" role="tabpanel" aria-labelledby="History-tab">
					<h1 class="fw-bold SelfStorage_green mb-5">Добрый день, {{ user.client.full_name }}!</h1>
					<h2 class="fw-bold SelfStorage_green mb-5">История аренды</h2>
					{% if closed_orders %}
						{% for order in closed_orders %}
							<div class="mb-5">
								<h4 class="SelfStorage_green">Мой склад</h4>
								<h4>{{ order.box.storage.address }}</h4>
								<h4 class="SelfStorage_green">Мой бокс</h4>
								<h4>{{ order.box.number }}</h4>
								<h4 class="SelfStorage_green">Срок аренды</h4>
								<h4>{{ order.date|date:"d.m.Y" }} - {{ order.expiration|date:"d.m.Y" }}</h4>
							</div>
						{% endfor %}
					{% else %}
						<h4 class="SelfStorage_grey my-5">У вас еще нет аренды :(<br>Но вы можете арендовать свой первый бокс по привлекательной цене прямо сейчас</h4>
						<div><a href="/boxes/" class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">Арендовать бокс</a></div>
						<a href="#" class="SelfStorage_orange">Нужна помощь?</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</main>

<aside class="modal" id="RentExtModal">
	<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" id="RentExtModalClose"></button>
			</div>
			<div class="modal-body d-flex justify-content-center align-items-center">
				<form id="rentExtForm" class="d-flex flex-column align-items-center" style="max-width: 420px">
				{% csrf_token %}
					<h1 id="RentExtModalTitle" class="modal-title text-center fw-bold mb-3">Продлить аренду бокса</h1>
					<input type="date" required name="NEW_RENT_END_DATE" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="">
					<div class="alert alert-danger" role="alert"></div>
					<button type="submit" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Продлить</button>
				</form>
			</div>
		</div>
	</div>
</aside>
{% endblock %}